node_modules
# Keep environment variables out of version control
.env

# Firebase service account key
src/config/firebase-service-account.json


logs
/src/generated/prisma
src/files


.pnpm-store/

dist/
build/
